@import "common-styles/common-styles";

@import "header/header";
@import "header/burger-menu";

@import "slider/slider-base";
@import "slider/phone-slide-1";
@import "slider/phone-slide-2";
@import "slider/buttons";
@import "slider/slide-1";
@import "slider/slide-2";

@import "services/services";

@import "portfolio/portfolio";